h3.tagcommander-header { background: url(../images/logo.png) no-repeat 0 0;height: 0;overflow: hidden;padding: 50px 0 0;background-size: 100%; width: 180px;}
ul.tabs a.tagcommander-section, ul.tabs a.tagcommander-section:hover{
    background: url(../../images/tabs_span_bg.gif) repeat-x 0 100%;
    border-bottom: none;
    padding: 0.5em 0.5em 0.28em 1.5em;    
}
ul.tabs a.tagcommander-section:hover { background-color:#d8e6e6; }
ul.tabs a.tagcommander-section.active, ul.tabs a.tagcommander-section.active:hover { background-color:#fff; }

ul.tabs a.tagcommander-section span, ul.tabs a.tagcommander-section:hover span {
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
    height: 0;
    width: 90px;
    overflow: hidden;
    padding: 29px 0 0;
}